body{
  background-color: Black;
  color: white;
  width:100%;
  top: 0;
  left:0;
  margin: auto;
}

img{
  height: 200px;
  width: 200px;
}
nav{
  background-color:gray;
  color: #ffffff;
  width: 100%;
  text-align: center;
  column-rule-color: white;
  font-size: 20px;
}
#footer{
  margin-top: 50px;
  height:50px;
  width: 100%;
  display: inline-flex;
  color:white;
  background-color: gray;
  font-size: 30px;
}

#footer span{
  font-size: 30px;
  color: red;
}
#footer h1{
  margin-left: 0;
  font-size: 30px;
}
/*#footer h2{
  margin-left:200px;
}
#footer h3{
  margin-left: 750px;
}*/
#namesquare{
  margin: auto;
  background-color: black;
  height: 300px;
  width: 100%;
}
#namesquare h1{
  font-size: 250px;
  color: gray;
  margin: auto;
  text-align: center;;
  position: absolute;
  z-index: 200;
}
#namesquare p{
  font-size: 40px;
  background-color: red;
  color: #ffffff;
  margin: auto;
  text-align: center;
;
}
#namesquare img{
  height: 800px;
  width: 1200px;
}

#homepage h2{
  text-align: center;
  color: white;
  font-size: 40px;

}
#homepage #line{
  border-bottom: solid gray 1px;
}

#homepage img{
  height: 400px;
  width: 400px;
}
#homepage h3{
  color: white;
  font-size: 50px;
  text-align: center;
  padding-bottom: 100px;
}
#homepage p{
  text-align: right;
  padding-bottom: 50px;
}
